body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

.software-info, .features, .current-state, .technical-overview, .mockups {
    padding: 20px;
}

.software-info h2, .features h2, .current-state h2, .technical-overview h2, .technical-overview h3, .mockups h2{
    color: #3498db;
}

ul {
    list-style-type: none;
    padding: 0;
}




.footer {
    background-color: #ecf0f1;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
}
